/*
-----------------------------------------------------------------------General Section Start------------------------------------------------------------
*/

    input[type='radio']:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: white;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }

    input[type='radio']:checked:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #1c1652;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }
*{
    margin: 0px auto;
    padding: 0px;
}
@font-face {
  font-family: os-bold;
  src: url(../font/OpenSans-Bold.ttf);
}
@font-face {
  font-family: os-extrabold;
  src: url(../font/OpenSans-ExtraBold.ttf);
}
@font-face {
  font-family: os-light;
  src: url(../font/OpenSans-Light.ttf);
}
@font-face {
  font-family: os-regular;
  src: url(../font/OpenSans-Regular.ttf);
}
@font-face {
  font-family: os-semibold;
  src: url(../font/OpenSans-Semibold.ttf);
}
p,span,h1,h2,h3,h4,h5,h6,a,span{
    font-family:os-regular;
}
#footer p, #footer a {
    font-family: os-regular;
}
h1,h2,h3,h4,h5,h6{
    color: #1c1652;
}
p{
    font-family: os-regular;
}
b,strong{
    font-family: os-bold;
}
a{
  text-decoration: none;
    color: white;
}
a:hover{
  text-decoration: none;
    color: white;
}
p{
    font-size: 15px;
}
span{
    color: #1c1652;
}



::-webkit-input-placeholder {
    padding: 0px 0px ;
    font-size: 14px;
    color: black;
}

.inputBox input, .inputBox textarea {
    padding: 0px 0px 5px 15px;
}
.inputBox input:focus {
    border: 1px solid #0092db;
    color: #0092db;
}
input:focus::-webkit-input-placeholder {
    color: #0092db;
}
textarea:focus::-webkit-input-placeholder{
    color: #0092db;
}
.recent span a {
    color: #0092db;
}
.uh-phone a{
    color: #212529;
}
.uh-email a{
    color: #212529;
}

/*
-----------------------------------------------------------------------General Section End------------------------------------------------------------
*/
/*
Upper Header Styling Start
*/
#up-header {
    background-color: #d4eff6;
    padding: 7px 0px;
}
.social-icons ul li {
    display: inline-block;
    list-style: none;
    margin: 2px;
}
.uh-button button:hover {
    color: white;
}
.social-icons ul li i {
    color: white;
    background-color: #006991;
    padding: 4px 4px;
    border-radius: 39px;
    width: 25px;
    height: 25px;
    text-align: center;
}
.social-icons ul li i:hover {
    background-color: #1c1652;
}
.uh-email i{
    color:#1c1652;
    margin: 0px 5px 0px 0px;
}
.uh-phone i{
    color:#1c1652;
    margin: 0px 5px 0px 0px;
}
.uh-button button {
    background-color: #1c1652;
    color: white;
    border-radius: 57px;
    padding: 6px 17px;
}
.up-search {
    width: 100%;
}
.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.up-search input.form-control {
    background-color: transparent;
    border: 1px solid #6a777b;
    border-radius: 43px;
}
.up-search button.btn.btn-primary {
    border-radius: 0px 20px 20px 0px;
    background-color: #006991;
    width: 60px;
}
.input-group-append button {
    border-radius: 25px !important;
    z-index: 999;
    width: 64px !important;
    padding: 5px 20px !important;
    margin-left: -17px !important;
}
/*
Upper Header Styling End
*/

/*
-------------------------------------------------------------------Header Styling Start--------------------------------------------------------------
*/
#navbar{
    background-color: #1c1652;
}
.navbar {
    background-color: #1c1652 !important;
    padding: 0px;
    margin: 0px;
}
#navbar ul li a {
    color: white;
    padding: 15px 4px;
}
#navbar ul li a:hover {
    background-color: #0092db;
    margin: 0px 0px;
}
#navbar ul li {
    margin: 0px 9px;
    position: relative;
}
.join {
    background-color: #0092db;
}

/****** Ahmed ******/
div#banner{
    padding: 0px;
    overflow: hidden;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    background: #0092db;
    border-radius: 0px;
    margin: 0px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu li{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.navbar-expand-lg .navbar-nav .dropdown-menu li a{
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    color: #fff !important;
}

.navbar-expand-lg .navbar-nav .dropdown-menu li a:hover{
    background: #1c1652 !important;
}

li.nav-item.show {
    background: #0092db !important;
}

.navbar-toggler i{
    color: #fff;
    padding: 10px 14px;
}

button.search-toggler {
    background: transparent;
    border: none;
    color: #fff;
    padding: 10px 14px;
    cursor: pointer;
    position: absolute;
    font-size: 20px;
    right: 140px;
}

div#mobileSearch {
    display: block;
    padding: 10px;
    background: #d4eff6;
    position: absolute;
    width: 100%;
    z-index: 9;
    transform: translateX(-100%);
    transition: .3s linear;
}

.active-ms {
    transform: translateX(0%) !important;
}

a.donate-now {
    /* float: right; */
    position: absolute;
    right: 20px;
    padding: 13px;
    display: inline-block;
}


@media only screen and (min-width: 990px) {
    button.search-toggler, 
    div#mobileSearch, a.donate-now{
      display: none;
    }
  
  }
  

  
@media only screen and (max-width: 1200px) and (min-width: 960px){
    #navbar ul li a {
        padding: 15px 3px;
        font-size: 14px;
    }

  }

.slick-next {
    right: 6% !important;
    padding: 0px !important;
    width: 40px !important;
    height: 40px !important;
    opacity: 0.9 !important;
    background-color: #1c1652 !important;
}

.slick-prev {
    left: 6% !important;
    padding: 0px !important;
    width: 40px !important;
    height: 40px !important;
    opacity: 0.9 !important;
    background-color: #1c1652 !important;
    z-index: 999 !important;
    border-radius: 50px;
}
@media only screen and (max-width: 750px) {
  
    #dd {
    float: right !important;
    text-align: right !important;
}
    .ans {
    text-align: center;
}
    
    nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    width: 100%;
}
    
}



/** slider **/
.slick-next {
    right: 10%;
    background: #162f41;
    width: 40px;
    height: 40px;
    border-radius: 100px;
}
   

/*
-----------------------------------------------------------------------Header Styling End------------------------------------------------------------
*/
/*
-----------------------------------------------------------------------Banner Styling End------------------------------------------------------------
*/
.slide-1 {
  background-image: url("../images/banner.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: auto; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
    color: rgb( 255, 255, 255 );
    padding: 120px 0px 190px 0px;
}
.slide-1 h1 , .slide-1 h2{
    font-family:os-extrabold;
  text-transform: uppercase;

}
.slide-1 h1{
    font-size: 60px;
}
slide-1 p{
    font-family: os-bold;
}
.slide-1 h1, .slide-1 h2 {
    color: white;
}

.uh-button button:hover {
    background-color: #0092db;
}
.about-btn button:hover {
    background-color: #1c1652;
}
/*
-----------------------------------------------------------------------Banner Styling End------------------------------------------------------------
*/
/*
-----------------------------------------------------------------------About Styling Start------------------------------------------------------------
*/
#about{
    background-color: #d4eff6;
    padding: 80px 0px ;
    
}
.about-btn button {
    background-color: #0092db;
    color: white;
    border-radius: 57px;
    padding: 6px 17px;
}
.about-text-inner {
    display: table-cell;
    vertical-align: middle;
}
.about-text {
    display: table;
    min-height: 500px;
}
/*
-----------------------------------------------------------------------About Styling End------------------------------------------------------------
*/
/*
-----------------------------------------------------------------------PresentsStyling Start------------------------------------------------------------
*/
section#presents {
    TEXT-ALIGN: CENTER;
    padding: 100px 0px;   
}
section#presents img {
    margin: 10px 0px 35px 0px;
}
section#presents p {
    margin: 40px 0px 0px 0px;
}

/*
-----------------------------------------------------------------------About Styling End------------------------------------------------------------
*/

/*
-----------------------------------------------------------------------Donation Styling Start------------------------------------------------------------
*/
#donation{
    background-color: #d4eff6;
    padding: 100px 0px;
}
.donation-dash{
    margin: 10px 0px 50px 0px ;
}
.donation-heading{
    text-align: center;
}
section#donation p {
    padding: 0px 55px 0px 0px;
    margin-bottom: 24px;
}
/*
-----------------------------------------------------------------------Donation Styling End------------------------------------------------------------
*/

/*
-----------------------------------------------------------------------Footer Styling Start------------------------------------------------------------
*/

#footer{
    background-color: #006991;
    color: white;
    padding: 50px 0px;    
    border-bottom: 1px solid #1c1652;
}
#footer span{
    color: #1c1652;
    font-weight: bold;
}
#footer ul li{
    list-style: none;
    
}
#footer h4{
    margin: 0px 0px 20px 0px;
    color: white;
}
.main {
    width: 100%;
}
.quick-link ul li a:hover {
    color: #1c1652;
}
.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.main button {
    background-color: #1c1652;
}
.social-icons-footer ul li {
    display: inline-block;
    list-style: none;
    margin: 3px;
}
.social-icons-footer ul li i {
    color: #1c1652;
    border: 1px solid #1c1652;
    padding: 7px 5px;
    border-radius: 39px;
    width: 34px;
    height: 33px;
    text-align: center;
}
.social-icons-footer ul li i:hover {
    background-color: #1c1652;
    color: white;
}
.social-icons-footer{
    margin: 30px 0px
}
/*
-----------------------------------------------------------------------Footer Styling End------------------------------------------------------------
*/
/*
-----------------------------------------------------------------------CopyWrite Styling Start------------------------------------------------------------
*/
#copywrite{
    text-align: center;
    color: white;
     background-color: #006991;
    padding: 20px 0px;    
    
}

/*
-----------------------------------------------------------------------Copy Write Styling End------------------------------------------------------------
*/


/*
=======================================================================About Page Css start============================================================
*/

/*
-----------------------------------------------------------------------Breadcrum Styling Start------------------------------------------------------------
*/
#breadcrum {
  background-image: url("../images/breadcrum.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: auto; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
    color: rgb( 255, 255, 255 );
    padding: 100px 0px 100px 0px;
}
#breadcrum h2{
    color: white;
    font-family: os-extrabold;
}

/*
-----------------------------------------------------------------------Breadcrum Styling End------------------------------------------------------------
*/
/*
----------------------------------------------------------------------- Commitment Styling Start------------------------------------------------------------
*/

section#commitment {
    padding: 100px 0px;   
}
section#commitment img {
    margin: 0px 0px 10px 0px;
}
section#commitment p {
    margin: 20px 0px 40px 0px;
}

/*
-----------------------------------------------------------------------Commitment Styling End------------------------------------------------------------
*/
/*
=======================================================================About Page Css End============================================================
*/


/*
=======================================================================Chaimen Message Css start============================================================
*/

/*
-----------------------------------------------------------------------Breadcrum Styling Start------------------------------------------------------------
*/
#chairmen-breadcrum {
  background-image: url("../images/chairmen-breadcrum.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: auto; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
    color: rgb( 255, 255, 255 );
    padding: 100px 0px 100px 0px;
}
#chairmen-breadcrum h2{
    color: white;
    font-family: os-extrabold;
}

/*
-----------------------------------------------------------------------Breadcrum Styling End------------------------------------------------------------
*/
/*
----------------------------------------------------------------------- Chaiermen Styling Start------------------------------------------------------------
*/

#Chaiermen{
    padding: 50px 0px;
}
.chairmen-name p{
    text-align: center;
    margin-top: 10px;
}
/*
-----------------------------------------------------------------------Chaiermen Styling End------------------------------------------------------------
*/
/*
=======================================================================Chairmen Message  Css End============================================================
*/



/*
=======================================================================Mission CSS start============================================================
*/

/*
----------------------------------------------------------------------- mission Breadcrum Styling Start------------------------------------------------------------
*/
#mission-breadcrum {
  background-image: url("../images/mission.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: auto; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
    color: rgb( 255, 255, 255 );
    padding: 100px 0px 100px 0px;
}
#mission-breadcrum h2{
    color: white;
    font-family: os-extrabold;
}

/*
----------------------------------------------------------------------- mission Breadcrum Styling End------------------------------------------------------------
*/
/*
----------------------------------------------------------------------- GOSB MISSION Styling Start------------------------------------------------------------
*/
.ptd {
    padding: 30px 0px;
}
section#mission h3 {
    margin: 50px 0px 0px 0px;
}
section#mission p{
    padding: 20px 0px 0px 0px;
}


/*
----------------------------------------------------------------------- GOSB MISSION  Styling End------------------------------------------------------------
*/
/*
=======================================================================Mission Css End============================================================
*/



/*
=======================================================================Vission CSS start============================================================
*/

/*
----------------------------------------------------------------------- Vission Breadcrum Styling Start------------------------------------------------------------
*/
#vission-breadcrum {
  background-image: url("../images/mission.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: auto; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
    color: rgb( 255, 255, 255 );
    padding: 100px 0px 100px 0px;
}
#vission-breadcrum h2{
    color: white;
    font-family: os-extrabold;
}

/*
----------------------------------------------------------------------- Vission Breadcrum Styling End------------------------------------------------------------
*/
/*
----------------------------------------------------------------------- GOSB Vission Styling Start------------------------------------------------------------
*/
ol.mission-ul li {
    line-height: 38px;
}
.ptd {
    padding: 30px 0px;
}
section#vission h3 {
    margin: 50px 0px 0px 0px;
}
section#vission p{
    padding: 20px 0px 0px 0px;
}


/*
----------------------------------------------------------------------- GOSB VIssion  Styling End------------------------------------------------------------
*/
/*
=======================================================================Vission Css End============================================================
*/



/*
=======================================================================Constitution CSS start============================================================
*/

/*
----------------------------------------------------------------------- Constitution Breadcrum Styling Start------------------------------------------------------------
*/
#constitution-breadcrum {
  background-image: url("../images/constitution.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: auto; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
    color: rgb( 255, 255, 255 );
    padding: 100px 0px 100px 0px;
}
#constitution-breadcrum h2{
    color: white;
    font-family: os-extrabold;
}

/*
----------------------------------------------------------------------- Constitution Breadcrum Styling End------------------------------------------------------------
*/
/*
----------------------------------------------------------------------- Constitution  Styling Start------------------------------------------------------------
*/
#constitution{
    background-color: #d4eff6;
    padding: 50px 0px;
}
#constitution h4{
    color: rgb( 0, 105, 145 );
}
ol.constitution-ol li {
    line-height: 30px;
}
.ul-right li {
    margin-left: 35px;
}
/*
----------------------------------------------------------------------- Constitution  Styling End------------------------------------------------------------
*/
/*
=======================================================================Constitution Css End============================================================
*/



/*
=======================================================================News & Articles CSS start============================================================
*/

/*
----------------------------------------------------------------------- News & ArticlesBreadcrum Styling Start------------------------------------------------------------
*/
#news-breadcrum {
  background-image: url("../images/news-Letters.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: auto; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
    color: rgb( 255, 255, 255 );
    padding: 100px 0px 100px 0px;
}
#news-breadcrum h2{
    color: white;
    font-family: os-extrabold;
}

/*
----------------------------------------------------------------------- CNews & Articles Breadcrum Styling End------------------------------------------------------------
*/
/*
----------------------------------------------------------------------- News & Articles Styling Start------------------------------------------------------------
*/
.read-more a {
    float: left;
}
.read-more a {
    text-decoration: underline !important;
    color: #006991 !important;
}
.read-more a:hover{
    color: #0092db !Important;
}
#news{
    background-color: #d4eff6;
    padding: 50px 0px;
}
.blog-main h5{
    padding: 20px 0px 10px 0px;
}
.blog-main h5:hover{
    color: #0092db;
}
.blog-main {
    padding: 35px 0px;
}
.side-bar {
    padding: 35px 0px;
}
.cat{
    padding: 30px 0px 0px 0px;
}
.cat ul li {
    list-style: none;
    line-height: 2.1;
}
.cat ul li a{
    color: black;
}
.cat ul li a{
    color: black;
}
.cat ul li a:hover{
    color: #0092db;
}
.cat ul li:before{
    content: "-";
}
.cat ul{
    padding: 20px 0px;
}
.recent p{
  text-transform: uppercase;
    font-weight: 400;
}
.recent{
    padding: 20px 0px;
}

/*
----------------------------------------------------------------------- News & Articles  Styling End------------------------------------------------------------
*/

/*
=======================================================================News & Articles Css End============================================================
*/




/*
=======================================================================News & Articles Details CSS start============================================================
*/

/*
----------------------------------------------------------------------- News & Articles Details Styling Start------------------------------------------------------------
*/

ul.social-details li {
    list-style: none;
    display: inline-block;
    margin: 3px;
    background-color: #1c1652;
    padding: 7px 20px;
    border-radius: 63px;
}
ul.social-details li:hover{
    background-color: #006991;
}
.profile-detail{
    background-color: white;
    border-radius: 20px;
    padding: 15px;  
    margin: 50px 0px;
}
.profile-detail img {
    padding: 25px 0px 0px 0px;
}
.profile-detail a {
   text-decoration: underline;
    color: #006991;
}
.comment a{
    color:#006991;
    float: right;
    border: 1px solid #1c1652;
}
.comment a {
    color: #006991;
    float: right;
    border: 2px solid #1c1652;
    padding: 4px 28px;
    border-radius: 43px;
}
.comment {
    padding: 50px 0px 0px 0px;
}

.formBox{
	margin-top: 30px;
}
.inputBox .input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 24px;
    border: 1px solid black;
}

.inputBox textarea {
    position: relative;
    width: 100%;
    background: transparent;
    font-size: 18px;
    border: 1px solid black;
}
.formBox input, .formBox textarea {
    margin-bottom: 20px;
}

/*
----------------------------------------------------------------------- News & Articles Details Styling End------------------------------------------------------------
*/
/*
=======================================================================News & Articles Details Css End============================================================
*/


/*
=======================================================================Events Css Start============================================================
*/
/*
----------------------------------------------------------------------- Event Styling Start------------------------------------------------------------
*/

#event-breadcrum {
  background-image: url("../images/Event.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: auto; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
    color: rgb( 255, 255, 255 );
    padding: 100px 0px 100px 0px;
}
#event-breadcrum h2{
    color: white;
    font-family: os-extrabold;
}
.pagination{
    padding: 40px 0px 0px 0px;
}
/*
----------------------------------------------------------------------- Events Styling End------------------------------------------------------------
*/
/*
=======================================================================Events Css End============================================================
*/




/*
=======================================================================Conference Details Css Start============================================================
*/
/*
----------------------------------------------------------------------- Conference Details Styling Start------------------------------------------------------------
*/

#conference-breadcrum {
  background-image: url("../images/Conference.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: auto; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
    color: rgb( 255, 255, 255 );
    padding: 100px 0px 100px 0px;
}
#conference-breadcrum h2{
    color: white;
    font-family: os-extrabold;
}
#conference{
 background-color: #d4eff6;
    padding: 70px 0px;
}
.shedule p{
    margin: 0px;
}
.shedule span{
    color: #0092db !important;
    font-weight: bold;
}
.shedule ol{
    margin-left: 50px;
}
h4.heading-blue{
    color:  #0092db;
}
/*
----------------------------------------------------------------------- Conference Details Styling End------------------------------------------------------------
*/
/*
=======================================================================Conference DetailsCss End============================================================
*/




/*
=======================================================================Doctor & COnsultant Css Start============================================================
*/
/*
----------------------------------------------------------------------- Doctor & COnsultant Styling Start------------------------------------------------------------
*/

#consultant-breadcrum {
  background-image: url("../images/Consultant.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: auto; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
    color: rgb( 255, 255, 255 );
    padding: 100px 0px 100px 0px;
}
#consultant-breadcrum h2{
    color: white;
    font-family: os-extrabold;
}
#consultant{
    background-color: #d4eff6;
    padding: 70px 0px;
}
.cons-name {
    text-align: center;
    padding: 15px 0px 1px 0px;
    background-color: white;
   
}
.cons-name span , .cons-name h4{
     color: #0092db;
}
.cons-pera p {
    margin: 0px;
}
.box-detail{
    text-align: center;
    padding: 20px 0px;
    background-color: white;
    
}
#related-doctors{
  padding: 0px 0px 0px 0px;  
}
.doc-heading {
    text-align: center;
    padding: 0px 0px 40px 0px;
}
.box-detail:hover h5, .box-detail:hover span {
    color: #0092db !important;
}
.cons-pera {
    padding: 0px 0px 100px 0px;
}
.doc-two{
    padding: 40px 0px 0px 0px;
}
.cons-pera h6 {
    color: #0092db;
}
/*
----------------------------------------------------------------------- Doctor & COnsultant Styling End------------------------------------------------------------
*/
/*
======================================================================= Doctor & COnsultant End============================================================
*/








/*
=======================================================================COnference Css Start============================================================
*/
/*
----------------------------------------------------------------------- COnference Styling Start------------------------------------------------------------
*/
#conference-main{
    padding: 70px 0px;
    background-color: #d4eff6;
}
.conference-search input {
    background-color: #f8feff !important;
}
.form-group select {
    border-radius: 60px;
   
}
.tb{
     margin: 30px 0px;
}

.ll{
    float: left;
    width: 60%;
    font-size: 13px;
}
.rr{
    float: right;
    width: 40%;
    font-size: 13px;
}


.white {
    background-color: white !important;
}

@media only screen and (max-width: 600px) {
  .ll{
    float: left;
    width: 100%;
    font-size: 13px;
}
.rr{
    float: right;
    width: 100%;
    font-size: 13px;
}
}



#customers tr:nth-child(even) {
    background-color: #ffe6e6;
}
#customers tr:nth-child(odd) {
    background-color: #c3ebff;
}


#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
    background-color: #006991;
  color: white;
}
.gfg { 
                border-collapse:separate; 
                border-spacing:0 15px; 
            } 
.table td, .table th{
    border: 0px;
}
td.mid {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
/*
----------------------------------------------------------------------- COnference Styling End------------------------------------------------------------
*/
/*
======================================================================= COnference End============================================================
*/



/*
----------------------------------------------------------------------- Form Supports Styling Start------------------------------------------------------------
*/
/*
======================================================================= Form Supports Start============================================================
*/


#form-breadcrum {
  background-image: url("../images/form.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: auto; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
    color: rgb( 255, 255, 255 );
    padding: 100px 0px 100px 0px;
}
#form-breadcrum h2{
    color: white;
    font-family: os-extrabold;
}
#form{
    background-color: #d4eff6;
    padding: 70px 0px 70px 0px;
}
.pt{
    margin-top: 35px;
}
ul.forum-nav li {
    list-style: none;
    display: inline-block;
    margin: 3px;
}
ul.forum-nav li a {
    color: #1c1652;
}
ul.forum-nav li a:hover {
    text-decoration: underline;
    color: #006991;
}
button.btn.btn-default.forum-btn {
    background-color: #006991;
    color: white;
    width: 100%;
    padding: 12px 0px;
    border-radius: 106px;
}
.questions{
    background-color: white;
    padding: 20px 10px ;
    border-radius: 10px;
    margin: 15px 0px 60px 0px;
}
.questions p{
    margin: 0px;
}
.questions span{
    color: #006991;
}
ul.vots-ul li {
    display: inline-block;
    text-align: center;
    color: white;
    text-decoration: none;
    margin: 0px 5px;
}
.vots-1 {
    width: 50px;
    height: 50px;
    background-color: #1c1652;
    border-radius: 100%;
    text-align: center;
}
.vots-1 p {
    line-height: 1.0;
    padding: 12px 0px;
    font-size: 12px;
}
.vots-2 {
    width: 50px;
    height: 50px;
    background-color: #006991;
    border-radius: 100%;
    text-align: center;
}
.vots-2 p {
    line-height: 1.0;
    padding: 12px 0px;
    font-size: 12px;
}
.vots-3 {
    width: 50px;
    height: 50px;
    background-color: #002868;
    border-radius: 100%;
    text-align: center;
}
.vots-3 p {
    line-height: 1.0;
    padding: 12px 0px;
    font-size: 12px;
}
ul.vots-ul {
    text-align: center;
}
/*
----------------------------------------------------------------------- Form Supports Styling End------------------------------------------------------------
*/
/*
======================================================================= Form Supports End============================================================
*/
.discription {
    padding: 0px 60px;
}
.ulist li{
    display: inline-block;
    text-decoration:none;
    margin: 10px 10px 10px 0px;
}

.ans{
    background-color: white;
    padding: 20px 0px;
    margin: 30px 0px;
}
.vots-1 p {
    color: white;
}
.mt{
 margin-top: 20px;
}
/*
----------------------------------------------------------------------- Form Supports Detail Styling Start------------------------------------------------------------
*/
/*
======================================================================= Form Supports Detail  Start============================================================
*/






/*
----------------------------------------------------------------------- Form Supports Detail Styling End------------------------------------------------------------
*/
/*
======================================================================= Form Supports Detail End============================================================
*/






/*
======================================================================= Gallery  Start============================================================
*/
/*
----------------------------------------------------------------------- Gallery Styling Start------------------------------------------------------------
*/

#gallery-breadcrum {
  background-image: url("../images/gallery.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: auto; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
    color: rgb( 255, 255, 255 );
    padding: 100px 0px 100px 0px;
}
#gallery-breadcrum h2{
    color: white;
    font-family: os-extrabold;
}
#gallery{
padding: 70px 0px;
    text-align: center;
}






















/* Controls
---------------------------------------------------------------------- */

.controls {
    padding: 1rem;
    font-size: 0.1px;
}
.my-btn {
    border: 1px solid #212529;
    border-radius: 84px;
    margin: 10px;
}
.mixitup-control-active:hover{
    color: white;
}
.control {
    position: relative;
    display: inline-block;
    width: 2.7rem;
    height: 2.7rem;
    background: #444;
    cursor: pointer;
    font-size: 0.1px;
    color: white;
    transition: background 150ms;
}
.controls {
    text-align: center;
}

.control:hover {
    background: #3f3f3f;
}

.control[data-filter]:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: calc(50% - 6px);
    left: calc(50% - 6px);
    border: 2px solid currentColor;
    border-radius: 2px;
    background: currentColor;
    transition: background-color 150ms, border-color 150ms;
}

.control[data-sort]:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-top: 2px solid;
    border-left: 2px solid;
    top: calc(50% - 6px);
    left: calc(50% - 6px);
    transform:  translateY(1px) rotate(45deg);
}

.control[data-sort*=":desc"]:after {
    transform:  translateY(-4px) rotate(-135deg);
}

.mixitup-control-active {
    background: #1c1652;
    color: white;
    padding: 5px 30px;
    border-radius: 40px;
}

.mixitup-control-active[data-filter]:after {
    background: transparent;
}

.control:first-of-type {
    border-radius: 3px 0 0 3px;
}

.control:last-of-type {
    border-radius: 0 3px 3px 0;
}

.control[data-filter] + .control[data-sort] {
    margin-left: .75rem;
}

.control[data-filter=".green"] {
    color: #91e6c7;
}

.control[data-filter=".blue"] {
    color: #5ecdde;
}

.control[data-filter=".pink"] {
    color: #d595aa;
}

.control[data-filter="none"] {
    color: #2f2f2f;
}

/* Container
---------------------------------------------------------------------- */

.container-mm {
    padding: 1rem;
    text-align: justify;
    font-size: 0.1px;
}

.container-mm:after {
    content: '';
    display: inline-block;
    width: 100%;
}

/* Target Elements
---------------------------------------------------------------------- */

.mix,
.gap {
    display: inline-block;
    vertical-align: top;
}

.mix {
    background: #fff;
    border-radius: 2px;
    margin-bottom: 1rem;
    position: relative;
}

.mix:before {
    content: '';
    display: inline-block;
    padding-top: 56.25%;
}

.mix.green {
    color: #91e6c7;
}

.mix.pink {
    color: #d595aa;
}

.mix.blue {
    color: #5ecdde;
}

/* Grid Breakpoints
---------------------------------------------------------------------- */

/* 2 Columns */

.mix,
.gap {
    width: calc(100%/2 - (((2 - 1) * 1rem) / 2));
}

/* 3 Columns */

@media screen and (min-width: 541px) {
    .mix,
    .gap {
        width: calc(100%/3 - (((3 - 1) * 1rem) / 3));
    }
}

/* 4 Columns */

@media screen and (min-width: 961px) {
    .mix,
    .gap {
        width: calc(100%/4 - (((4 - 1) * 1rem) / 4));
    }
}

/* 5 Columns */

@media screen and (min-width: 1281px) {
    .mix,
    .gap {
        width: calc(100%/5 - (((5 - 1) * 1rem) / 5));
    }
}
.btn-ul li{
    text-decoration: none;
    display: inline-block;
}
/*
----------------------------------------------------------------------- Gallery Styling End------------------------------------------------------------
*/
/*
======================================================================= Gallery End============================================================
*/








/*
======================================================================= Membership start============================================================
*/


#membership-breadcrum {
  background-image: url("../images/membership.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: auto; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
    color: rgb( 255, 255, 255 );
    padding: 100px 0px 100px 0px;
}
#membership-breadcrum h2{
    color: white;
    font-family: os-extrabold;
}
section#membership {
    padding: 70px 0px;
}

.card .card-header {
    width: 100%;
}
.card-header button {
       color: black;
    text-transform: uppercase;
    font-weight: 600;
}
div#collapsefour {
    margin: 0px;
    padding: 0px 50px;
}
button.btn.btn-default.form-d, a.btn.btn-default.form-d{
    background-color: #006991;
    color: white;
}
.btn-link:hover {
    color: black;
    text-decoration: underline;
}
.card-header {
    background-color:#f8feff;
    border: none;
}
.card {
    border: none;
    margin: 15px 0px;
}
#membership h5{
    text-transform: uppercase;
}
section#membership img {
    padding: 0px 0px 30px 0px;
}
/*
======================================================================= Membership END   ===========================================================
*/





.read-more:hover {
    cursor: pointer;
}

.formBox input {
    border-radius: 50px;
}
.formBox textarea {
    border-radius: 5px;
}



/*
Pagination
*/

.pagination ul li {
    list-style: none;
    display: inline-block;
    background-color: #1c1652;
    padding: 3px 0px;
    border-radius: 31px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.pagination ul li:hover {
    background-color: #006991;
}

/*
Pagination
*/



































/*
=======================================================================Login Popup  Css Start============================================================
*/
/* Full-width input fields */
#radio{
    text-align: center;
}
.login-btn:hover {
    color: white;
}
.pd{
    padding: 16px;
}

.imgcontainer h3{color: white;
    
}
form.modal-content.animate a:hover {
    color: #1c1652;
    text-decoration: underline;
}
.login-btn{
    width: 100%;
    background-color: #1c1652;
    color: white;
    border-radius: 60px;
}
.modal-content input {
  width: 100%;
  padding: 4px 18px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
    border-radius: 70px;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
    color: white;
}

/* Modal Content/Box */
.modal-content {
  background-color: #0092db;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
}

@media only screen and (max-width: 1100px) {
 
    .modal-content {
  width: 70%; /* Could be more or less, depending on screen size */
}
    .cons-name {
    margin: 0px 0px 30px 0px;
}
    div#related-doctors {
    text-align: center;
}
    .questions {
    text-align: center;
}
    .questions p {
    margin: 12px 0px;
}
    .profile-detail {
    text-align: center;
}
    .comment {
    text-align: center;
}
    .comment a {
    text-align: center;
    float: initial;
}
    .comment img {
    margin: 45px 0px 0px 0px;
}
    
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

/*
=======================================================================Login Popup Css End============================================================
*/


label.radio-inline {
    margin-right: 20px;
}

input[type="radio"] {
    width: 20px;
}


.chairmen-name {
    text-align: center;
}


div#collapseOne {
    margin: 0px;
    padding: 0px 50px;
}


/* Other inportant CSS */

.row.ptd ol {
    margin-left: 30px;
}
.chairmen-name p {
    color: #1c1652;
}
.inline-p{
        color: rgb( 0, 105, 145 )
        }
.dark {
    color: #1c1652;
}
.light{
    color:  #0092db;
}
.dark:hover{
    color:  #0092db;
}
.light:hover{
    color: #1c1652;
}
.pl{
    padding-left: 0px;
    
}


@media only screen and (max-width: 750px) {
    

  ul.navbar-nav.ml-auto {
    margin-top: 10px;
}
    
}


.pr{
    padding-right: 0px;
}
.content-m {
    padding: 0px 70px;
}
.fiw img {
    width: 100%;
    margin-top: 20px;
}


@media only screen and (max-width: 750px) {
    
   button.slick-prev.slick-arrow {
    display: none !important;
}
    button.slick-next.slick-arrow {
    display: none !important;
}
    
}










@media only screen and (max-width: 950px) {
 .slick-prev {
    left: 2px !important;
}
.slick-prev {
    left: 2% !important;
}
.slick-next {
    right: 2%;
    background: #162f41;
    width: 40px;
    height: 40px;
    border-radius: 100px;
}
}





@media only screen and (min-width: 1000px) {



}




@media screen and (min-device-width: 960px) and (max-device-width: 1000px) { 
   
     .slick-prev {
    left: 1px !important;
}
.slick-next {
    right: 1% !important;
    padding: 0px !important;
    width: 40px !important;
    height: 40px !important;
    opacity: 0.9 !important;
    background-color: #1c1652 !important;
}
   
}



