<section id="Chaiermen"><!-- Chairmen Message Start -->
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="chairmen-name">
                    <img src="/images/chairmen-picture.jpg" class="img-fluid">
                    <p>
                        <b>Dr. Mohammad Sallah Khan<br>
                        GOSB, President</b>
                    </p>
                </div>
            </div>
            <div class="col-md-8">
                <p>Dear Colleagues,<br><br>

                    The International Federation of Gynecology and Obstetrics (FMMSB) invites you to participate in the Fmmsb Congress 2018, scheduled to take place in Rio de Janeiro, Brazil, from October 14th to October 19th 2018.<br><br>

                    The unique, beautiful city of Rio will undoubtedly attract delegates from all over the world, and allows us to anticipate a successful Congress with over 8,000 delegates expected. The Congress will be held at the Rio Centro, Rio’s conveniently located Convention and Exhibition Centre. Designed to securely host a large number of delegates, Rio Centro offers good facilities for all delegates, and is efficiently connected to the city centre and airport by public transport.<br><br>

                    The FIGO World Congress is unique, being the only meeting related to the practice obstetrics and gynaecology exhaustively addressing, during a full week, all aspects of women’s health in the world. The scientific programme will cover cutting edge topics in daily practice, the most recent development and management of the rapidly evolving health care requirements, as well as the crucial challenges concerning low resource countries.<br><br>

                    The lectures and sessions will be provided by worldwide recognised experts in the field of obstetrics and gynaecology, representatives of universities, private practice, major hospitals and health care institutions from around the globe.<br><br>

                    For the industry, this XXII World FIGO Congress in Rio will represent a privileged opportunity to exhibit its developments, dynamics, excellence and expertise, and to share in the success of this most widely attended global meeting.<br><br>

                    I look forward to welcoming you all to the FIGO World Congress in October 2018!</p><br>
                <p>Dr. Mohammad Sallah Khan<br>
                    GOSB, President</p>
                <img src="/images/chairmen-sign.png" class="img-fluid">

            </div>
        </div>
    </div>
</section><br>
