<section id="donation"><!-- Doantion start -->
    <div class="container">
        <div class="donation-heading">
            <h3><b>DONATION FOR GOSB</b></h3>
            <img src="/images/dash.png" class="donation-dash"/>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="/images/donation.png"/>
            </div>
            <div class="col-md-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do smod <b>tempor incididunt ut labore et dolore magna aliqua.</b><br><br>

                    Quis ipsum suspendisseei ultrices gravida. Risus commodo viverracenase accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur and adipiscing elit, sed do eiusmod tempor incididunt ut labore et doloreeum magna aliqua. Quis ipsum suspendisse ultrices gravida.<br><br>

                    Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incdunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>

            </div>
        </div>
    </div>
</section>
